@charset "UTF-8";
/* CSS Document */

html{background-color:black;}

body{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        background:#000000;
}

a{
	text-decoration:none;
}

li{
	list-style-type:none;
}

#header {
	background:#000;
	color:#fff;
	position:fixed;
	text-align:left;
    font-family:impact, sans-serif;
	width:1000px;
	z-index:10;
}

#header h1{
    position:absolute;
    top:45px;
    left:175px;
	padding:0px 12px;
	font-size:60px;
	text-shadow:4px 4px #FF0000;
}

#header p{
    position:absolute;
    top:110px;
    left:180px;
    padding:0px 24px;
    color:#fff;
    font-size:20px;
}

#navi{
	position:absolute;
	bottom:10px;
	right: 15px;
}

#navi li a{
	color:#e8e8e8;
}

#navi li a:hover {
	color:#fff;
}

#navi li {
	float:left;
	margin-left:8px;
}

#wrapper {
	width:1000px;
    height:1200px;
	margin-left:12px;
}

iframe {
	position:relative;
	margin-top:200px;
	margin-left:center;
	border:2px #75761f solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	z-index:5;
}

#craps .wall {
	position:absolute;
	margin-top:-295px;
	margin-left:404px;
}

#craps .table {
	position:absolute;
	margin-top:-295px;
	margin-left:440px;
}

#craps .party {
	position:absolute;
	margin-top:-290px;
	margin-left:840px;
}

#craps .dice1 {
	position:absolute;
	margin-top:-280px;
	margin-left:850px;
	animation: dice1_throw 8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	-webkit-animation: dice1_throw 8s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;
}

#craps .dice2 {
	position:absolute;
	margin-top:-250px;
	margin-left:850px;
	animation: dice2_throw 8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	-webkit-animation: dice2_throw 8s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;
}

@keyframes dice1_throw {
	0% { transform: translate(0px, 0px) rotate(0deg);}
	10% { transform: translate(0px, 0px) rotate(0deg);}
	50% { transform: translate(-430px, 40px) rotate(720deg);}
	90% { transform: translate(-200px, 100px) rotate(1440deg);}
	100% { transform: translate(-200px, 100px) rotate(1440deg);}
}
@-webkit-keyframes dice1_throw {
	0% { -webkit-transform: rotate(0deg);}
	10% { -webkit-transform: rotate(0deg);}
	50% { -webkit-transform: translate(-430px, 40px) rotate(720deg);}
	90% { -webkit-transform: translate(-200px, 100px) rotate(1440deg);}
	100% { -webkit-transform: translate(-200px, 100px) rotate(1440deg);}
}

@keyframes dice2_throw {
	0% { transform: translate(0px, 0px) rotate(0deg);}
	10% { transform: translate(0px, 0px) rotate(0deg);}
	50% { transform: translate(-430px, 50px) rotate(-720deg);}
	90% { transform: translate(-150px, 150px) rotate(-1440deg);}
	100% { transform: translate(-150px, 150px) rotate(-1440deg);}
}
@-webkit-keyframes dice2_throw {
	0% { -webkit-transform: translate(0px, 0px) rotate(0deg);}
	10% { -webkit-transform: translate(0px, 0px) rotate(0deg);}
	50% { -webkit-transform: translate(-430px, 50px) rotate(-720deg);}
	90% { -webkit-transform: translate(-150px, 150px) rotate(-1440deg);}
	100% { -webkit-transform: translate(-150px, 150px) rotate(-1440deg);}
}

#images {
	position:relative;
	margin-top:50px;
	margin-left:75px;
	height:300px;
	background:#000;
}

#images li{
	width:250px;
	height:250px;
	margin-top:60px;
	margin-right:50px;
	background:url(../img/story.png);
	float:left;
}

#images li:first-child{
	background:url(../img/home.png);
}

#images li:last-child{
	background:url(../img/cast.png);
	margin-right:0;
}

#images li a{
	display:block;
	height:130px;
	font-family:Impact, sans-serif;
	font-size:24pt;
	text-align:center;
	padding-top:120px;
	background:rgba(0, 0, 0, .5);
	color:#fff;
}

#images li a:hover{
	background:rgba(0, 0, 0, .1);
}

